{
    "env": {
        "browser": true,
        "jquery": true
    },
    "globals": {
        "AspNet": "readonly",        
        "alasql": "readonly",
        "gridjs": "readonly",
        "noUiSlider": "readonly",
    }
}