<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - popnscoretool2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="apple-touch-icon" type="image/png" href="/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon/icon-192x192.png">
    @RenderSection("Header", false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">pst2 α-9版</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/upload">Upload</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/targetscore">TargetScore</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/targetmedal">TargetMedal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/statsscore">StatsScore</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/scorerate">ScoreRate</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/medalrate">MedalRate</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/help">Help</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/about/index">About</a>
                            <ul>
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-page="/about/history">History</a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-page="/about/wants">Wants</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-main">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-wrap">
            &copy; 2020-2022 - otoge-flow^2 popnscoretool2 - <a href="https://twitter.com/otoge_flow_flow">@@otoge_flow_flow</a> - <a asp-area="" asp-page="/Privacy">Privacy</a> / <a asp-area="" asp-page="/Tos">TOS</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*<script src="https://unpkg.com/gridjs@3.2.2/dist/gridjs.production.min.js"></script>*@
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alasql@1.7"></script>
    @*<script src="https://unpkg.com/linq@3.2.3/linq.min.js"></script>*@
    @*<script src="https://unpkg.com/simple-statistics@7.2.0/dist/simple-statistics.min.js"></script>*@
    <script src="~/lib/nouislider/dist/nouislider.min.js"></script>
    <script src="~/lib/wnumb/dist/wNumb.min.js"></script>
    <link href="~/lib/nouislider/dist/nouislider.min.css" rel="stylesheet" />
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />

    @RenderSection("Scripts", required: false)
</body>
</html>
