@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<p>
    何らかの問題が発生しているようです。<a href="https://twitter.com/otoge_flow_flow" target="_blank">@@otoge_flow_flow</a>にリプライかDMでお知らせください。
</p>
<p>
    It seems that an issue has occurred. Please notify <a href="https://twitter.com/otoge_flow_flow" target="_blank">@@otoge_flow_flow</a> via reply or direct message.
</p>
<p>
    似乎出了些问题。请通过回复或私信<a href="https://twitter.com/otoge_flow_flow" target="_blank">@@otoge_flow_flow</a>告诉我们。
</p>
<p>
    문제가 발생한 것 같습니다. <a href="https://twitter.com/otoge_flow_flow" target="_blank">@@otoge_flow_flow</a>에게 답글이나 DM으로 알려주세요.
</p>
<p>
    ❗️😵💥🌪️<a href="https://twitter.com/otoge_flow_flow" target="_blank">@@otoge_flow_flow</a>🐦💬💌📣🙏
</p>
