@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}
<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
    <h1 class="display-4">Welcome!!!</h1>
    <div id="profile" style="display:none">
        <div class="item">
            Profile
        </div>
        <div class="content" style="display:none">
            <table border="1" style="margin: auto">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Chara</th>
                    </tr>
                    <tr>
                        <td id="name"></td>
                        <td id="chara"></td>
                    </tr>
                    <tr>
                        <th colspan="2">ポプともID</th>
                    </tr>
                    <tr>
                        <td id="popnFriendId" colspan="2"></td>
                    </tr>
                    <tr>
                        <th colspan="2">プレイ回数(N/B/L)</th>
                    </tr>
                    <tr>
                        <td id="creditsCount" colspan="2"></td>
                    </tr>
                    <tr>
                        <th colspan="2">コメント</th>
                    </tr>
                    <tr>
                        <td id="comment" colspan="2"></td>
                    </tr>
                    <tr>
                        <th colspan="2">最終更新日時</th>
                    </tr>
                    <tr>
                        <td id="lastUpdate" colspan="2"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="filter" style="">
        <div class="item">
            Filter
        </div>
        <div class="content">
            <ul style="display:flex; list-style: none; padding: 0px;">
                <li style="width:10%">ver</li>
                <li style="width:70%; padding: 0px 20px">
                    <div id="skipstep-version">
                    </div>
                </li>
                <li style="width:20%; user-select:none; -webkit-user-select: none;">
                    <span id="version-text"></span>
                </li>
            </ul>
            <ul style="display:flex; list-style: none; padding: 0px;">
                <li style="width:10%">medal</li>
                <li style="width:70%; padding: 0px 20px">
                    <div id="skipstep-medal">
                    </div>
                </li>
                <li style="width:20%">
                    <span id="medal-lower"></span>
                    <span id="medal-hyphen">-</span>
                    <span id="medal-upper"></span>
                    <span id="medal-same"></span>
                </li>
            </ul>
            <ul style="display:flex; list-style: none; padding: 0px;">
                <li style="width:10%">rank</li>
                <li style="width:70%; padding: 0px 20px">
                    <div id="skipstep-rank">
                    </div>
                </li>
                <li style="width:20%">
                    <span id="rank-lower"></span>
                    <span id="rank-hyphen">-</span>
                    <span id="rank-upper"></span>
                    <span id="rank-same"></span>
                </li>
            </ul>
            <ul style="display:flex; list-style: none; padding: 0px;">
                <li style="width:10%">score</li>
                <li style="width:70%; padding: 0px 20px">
                    <div id="skipstep-score">
                    </div>
                </li>
                <li style="width:20%">
                    <span id="score-lower"></span>
                    <span id="score-line"></span>
                    <span id="score-upper"></span>
                    <span id="score-same"></span>
                </li>
            </ul>
            <ul style="display:flex; list-style: none; padding: 0px;">
                <li style="width: 10%">lv</li>
                <li style="width: 70%; padding: 0px 20px">
                    <div id="skipstep-lv">
                    </div>
                </li>
                <li style="width: 20%">
                    <span id="lv-lower"></span>
                    <span id="lv-hyphen">-</span>
                    <span id="lv-upper"></span>
                    <span id="lv-same"></span>
                </li>
            </ul>
            <ul style="display:flex; list-style: none; padding: 0px;">
                <li style="width:10%">type</li>
                <li style="width:70%; padding: 0px 20px">
                    <div id="skipstep-lv-type">
                    </div>
                </li>
                <li style="width:20%">
                    <span id="lv-type-lower"></span>
                    <span id="lv-type-hyphen">-</span>
                    <span id="lv-type-upper"></span>
                    <span id="lv-type-same"></span>
                </li>
            </ul>
            <div class="d-flex m-2 justify-content-between">
                <div class="btn-group btn-group-toggle text-monospace" id="filter-selection" data-toggle="buttons">
                    <label class="btn btn-outline-primary" for="btnradio0">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio0" autocomplete="off">a
                    </label>
                    <label class="btn btn-outline-primary" for="btnradio1">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">b
                    </label>
                    <label class="btn btn-outline-primary" for="btnradio2">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">c
                    </label>
                    <label class="btn btn-outline-primary" for="btnradio3">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">d
                    </label>
                    <label class="btn btn-outline-primary" for="btnradio4">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">e
                    </label>
                    <label class="btn btn-outline-primary" for="btnradio5">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">f
                    </label>
                    <label class="btn btn-outline-primary" for="btnradio6">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off">g
                    </label>
                    <label class="btn btn-outline-primary" for="btnradio7">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio7" autocomplete="off">h
                    </label>
                    <label class="btn btn-outline-primary" for="btnradio8">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio8" autocomplete="off">i
                    </label>
                    <label class="btn btn-outline-primary" for="btnradio9">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio9" autocomplete="off">j
                    </label>
                </div>
                <div>
                    <button type="button" id="reset-button" class="btn btn-secondary">Reset</button>
                </div>
            </div>
        </div>
        <div class="content" style="display: none">
        </div>
    </div>
    <div id="stats" style="display: none">
        <div class="item">
            Medal*Type
        </div>
        <div class="content" style="display: none">
            <div id="stats1_wrapper"></div>
        </div>
    </div>
    <div id="stats2" style="display: none">
        <div class="item">
            Total
        </div>
        <div class="content" style="display: none">
            <div id="stats2_wrapper"></div>
        </div>
    </div>
    <div id="score" style="">
        <div class="item">
            Score
        </div>
        <div class="content" style="">
            <div id="wrapper"></div>
        </div>
    </div>
    }
    else
    {
    <h1 class="display-4 nologin">Please Login →↑</h1>
    }
</div>
@section scripts{
    <script src="~/js/const.js" asp-append-version="true"></script>
    <script type="module" src="~/js/index.js" asp-append-version="true"></script>
}
