@page
@model PopnScoreTool2.Pages.ScoreRateModel
@{
    ViewData["Title"] = "ScoreRate";
}
<h1>@ViewData["Title"]</h1>
<div class="text-center">
    <div id="view">
        <div class="accordion-item">
            [View]
        </div>
        <div class="content" style="user-select:none; -webkit-user-select: none;">
            <ul style="display:flex; list-style: none; padding: 0px;">
                <li style="width:10%">name</li>
                <li style="width:70%; padding: 0px 20px">
                    <div id="skipstep-name">
                    </div>
                </li>
                <li style="width:20%;">
                    <span id="name-text"></span>
                </li>
            </ul>
            <ul style="display:flex; list-style: none; padding: 0px;">
                <li style="width:10%">align</li>
                <li style="width:70%; padding: 0px 20px">
                    <div id="skipstep-align">
                    </div>
                </li>
                <li style="width:20%;">
                    <span id="align-text"></span>
                </li>
            </ul>
            <ul style="display:flex; list-style: none; padding: 0px;">
                <li style="width:10%;">
                    <span id="wrap-text"></span>
                </li>
                <li style="width:22%; padding: 0px 20px">
                    <div id="skipstep-wrap">
                    </div>
                </li>
                <li style="width:10%;">
                    <span id="break-text"></span>
                </li>
                <li style="width:22%; padding: 0px 20px">
                    <div id="skipstep-break">
                    </div>
                </li>
                <li style="width:10%;">
                    <span id="order-text"></span>
                </li>
                <li style="width:22%; padding: 0px 20px">
                    <div id="skipstep-order">
                    </div>
                </li>
            </ul>
            <ul style="display:flex; list-style: none; padding: 0px;">
                <li style="width:10%">upper</li>
                <li style="width:70%; padding: 0px 20px">
                    <div id="skipstep-upper">
                    </div>
                </li>
                <li style="width:20%;">
                    <span id="upper-text"></span>
                </li>
            </ul>
        </div>
        <div class="content" style="display: none">
        </div>
    </div>
    <div id="filter">
        <div class="accordion-item">
            [Filter]
        </div>
        <div class="content" style="user-select:none; -webkit-user-select: none;">
            <ul style="display:flex; list-style: none; padding: 0px;">
                <li style="width:10%">ver</li>
                <li style="width:70%; padding: 0px 20px">
                    <div id="skipstep-version">
                    </div>
                </li>
                <li style="width:20%">
                    <span id="version-text"></span>
                </li>
            </ul>
            <ul style="display:flex; list-style: none; padding: 0px;">
                <li style="width:10%">add-ver</li>
                <li style="width:70%; padding: 0px 20px">
                    <div id="skipstep-add-version">
                    </div>
                </li>
                <li style="width:20%">
                    <span id="add-version-lower"></span>
                    <span id="add-version-hyphen">-</span>
                    <span id="add-version-upper"></span>
                    <span id="add-version-same"></span>
                </li>
            </ul>
            <ul style="display:flex; list-style: none; padding: 0px;">
                <li style="width: 10%">lv</li>
                <li style="width: 70%; padding: 0px 20px">
                    <div id="skipstep-lv">
                    </div>
                </li>
                <li style="width: 20%">
                    <span id="lv-lower"></span>
                    <span id="lv-hyphen">-</span>
                    <span id="lv-upper"></span>
                    <span id="lv-same"></span>
                </li>
            </ul>
            <ul style="display:flex; list-style: none; padding: 0px;">
                <li style="width:10%">type</li>
                <li style="width:70%; padding: 0px 20px">
                    <div id="skipstep-lv-type">
                    </div>
                </li>
                <li style="width:20%">
                    <span id="lv-type-lower"></span>
                    <span id="lv-type-hyphen">-</span>
                    <span id="lv-type-upper"></span>
                    <span id="lv-type-same"></span>
                </li>
            </ul>
            <div class="d-flex justify-content-between">
                <div class="flex-wrap btn-group btn-group-toggle mx-1 text-monospace" id="filter-selection" data-toggle="buttons">
                    <label class="btn btn-outline-primary" style="flex: initial" for="btnradio0">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio0" autocomplete="off">a
                    </label>
                    <label class="btn btn-outline-primary" style="flex: initial" for="btnradio1">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">b
                    </label>
                    <label class="btn btn-outline-primary" style="flex: initial" for="btnradio2">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">c
                    </label>
                    <label class="btn btn-outline-primary" style="flex: initial" for="btnradio3">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">d
                    </label>
                    <label class="btn btn-outline-primary" style="flex: initial" for="btnradio4">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">e
                    </label>
                    <label class="btn btn-outline-primary" style="flex: initial" for="btnradio5">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">f
                    </label>
                    <label class="btn btn-outline-primary" style="flex: initial" for="btnradio6">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off">g
                    </label>
                    <label class="btn btn-outline-primary" style="flex: initial" for="btnradio7">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio7" autocomplete="off">h
                    </label>
                    <label class="btn btn-outline-primary" style="flex: initial" for="btnradio8">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio8" autocomplete="off">i
                    </label>
                    <label class="btn btn-outline-primary" style="flex: initial" for="btnradio9">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio9" autocomplete="off">j
                    </label>
                </div>
                <div class="mr-1">
                    <button type="button" id="reset-button" class="btn btn-secondary">🗑️</button>
                </div>
            </div>
        </div>
        <div class="content" style="display: none">
        </div>
    </div>
    <div id="medal-rate">
        <div class="item">
            Rate
        </div>
        <div class="content">
            <div style="color:gray;">このページはログイン不要で閲覧可能です。登録人数が増えると値の信頼度が高くなります。</div>
            <div style="color:gray;">横持ちで閲覧推奨。</div>
            <div id="wrapper"></div>
        </div>
    </div>
</div>
@section scripts{
    <script type="module" src="~/js/score-rate.js" asp-append-version="true"></script>
}