@page
@model PopnScoreTool2.Pages.HistoryModel
@{
    ViewData["Title"] = "About - History";
}
@section Header
{
    <style type="text/css">
        p {
            text-indent: 1em;
        }
    </style>
}
<div class="container">
    <h1>@ViewData["Title"]</h1>

    <p>
        otoge-flow^2 pop'n score tool2
    </p>
    <p>
        現在α版テスト中です。
    </p>
    <h2>
        今後の予定
    </h2>
    <p>β版としてスコア非公開機能とプロフィール変更機能、アップロード簡素化を実装したら一般に公開しスコアをどんどんアップロードしてもらう予定です。</p>
    <p>しばらく運用して特に問題無ければ正式版として表記が変わります。</p>
    <p>その後、実アップロード人数に応じて機能（特にフレンド比較機能や様々なランキング機能等）を実装/開放していきます。</p>
    <h2>
        history
    </h2>
    <ul>
        <li>
            2022/10/26 新バージョンのURL変更対応(JS)。<a href="https://twitter.com/otoge_flow_flow/">他</a>。
        </li>
        <li>
            2022/07/27 α-9.4版リリース。公式サイトの文字コード変更対応（Shift_JIS->UTF-8)。<a href="https://twitter.com/otoge_flow_flow/status/1552232330625814528">他</a>。
        </li>
        <li>
            2022/07/23 α-9.3版リリース。Announce。<a href="https://twitter.com/otoge_flow_flow/status/1550712520192581633">他</a>。
        </li>
        <li>
            2022/07/23 α-9.2版リリース。TargetMedalにRank表示追加,favion変更,According Item強調。<a href="https://twitter.com/otoge_flow_flow/status/1550520380959309824">他</a>。
        </li>
        <li>
            2022/06/05 α-9.1版リリース。フィルターリセットボタンの位置変更。TargetScore フィルター追加。<a href="https://twitter.com/otoge_flow_flow/status/1533326462157131776">他</a>。
        </li>
        <li>
            2022/06/03 α-9版リリース。フィルターとソートの保存機能。<a href="https://twitter.com/otoge_flow_flow/status/1532521787589677056">他</a>。
        </li>
        <li>
            2022/05/18 α-8.2版リリース。cache busting。<a href="https://twitter.com/otoge_flow_flow/status/1527621670826938370">他</a>。
        </li>
        <li>
            2022/05/05 α-8.1版リリース。フィルター変更後のソート維持の暫定対応。<a href="https://twitter.com/otoge_flow_flow/status/1522608997307625472">他</a>。
        </li>
        <li>
            2022/05/03 α-8版リリース。js libraryの更新。UI微修正。<a href="https://twitter.com/otoge_flow_flow/status/1522608874120880128">他</a>。
        </li>
        <li>
            2022/04/15 α-7版リリース。内部バージョンの更新。<a href="https://twitter.com/otoge_flow_flow/status/1514981633815810051">他</a>。
        </li>
        <li>
            2021/08/21 α-6.1版リリース。フレームワーク更新に伴って発生していた新曲追加時の問題修正。<a href="https://twitter.com/otoge_flow_flow/status/1428829110256627713">他</a>。
        </li>
        <li>
            2021/08/19 α-6版リリース。サーバー移動。いろいろメンテ。<a href="https://twitter.com/otoge_flow_flow/status/1428051530951716867">他</a>。
        </li>
        <li>
            2021/02/13 バグ修正。<a href="https://twitter.com/otoge_flow_flow/status/1360575602533703682">他</a>。
        </li>
        <li>
            2021/01/27 新バージョンJS対応。</a>。
        </li>
        <li>
            2020/12/10 α-5版リリース。新バージョン対応。<a href="https://twitter.com/otoge_flow_flow/status/1337011950144765953">他</a>。
        </li>
        <li>
            2020/09/26 α-4版リリース。TargetScore, ScoreRate画面の追加。<a href="https://twitter.com/otoge_flow_flow/status/1309531269454155778">他</a>。
        </li>
        <li>
            2020/09/23 α-3.2版リリース。新曲を追加しやすいように内部変更。<a href="https://twitter.com/otoge_flow_flow/status/1308428489356316672">他</a>。
        </li>
        <li>
            2020/09/22 α-3.1版リリース。StatsScoreのTopにOldStats。<a href="https://twitter.com/otoge_flow_flow/status/1308269035574812675">他</a>。
        </li>
        <li>
            2020/09/21 α-3版リリース。AvgScore->StatsScore。<a href="https://twitter.com/otoge_flow_flow/status/1308025262580228096">他</a>。
        </li>
        <li>
            2020/09/19 α-2版リリース。アップロード簡素化。<a href="https://twitter.com/otoge_flow_flow/status/1307013977558450176">他</a>。
        </li>
        <li>
            2020/09/17 α-1.2版リリース。プロフィール更新されていない問題の修正。AvgScore周りの修正。<a href="https://twitter.com/otoge_flow_flow/status/1306530320699674625">他</a>。
        </li>
        <li>
            2020/09/16 α-1.1版リリース。非アッパー譜面しかプレイしていない場合に該当譜面のスコア等情報のアップロードが上手くいっていなかった問題の修正。<a href="https://twitter.com/otoge_flow_flow/status/1305940355108360195">他</a>。
        </li>
        <li>
            2020/09/15 α-1版リリース。ターゲットメダルとフィルター後の遅延実行を実装。
        </li>
        <li>
            2020/09/10 Pre-α版リリース。
        </li>
        <li>
            2020/08/25 ポップンスコアツール2を作ろうと4人集まる。
        </li>
    </ul>
</div>