@page
@model PopnScoreTool2.Pages.AboutIndexModel
@{
    ViewData["Title"] = "About";
}
@section Header
{
    <style type="text/css">
        p {
            text-indent: 1em;
        }
    </style>
}
<div class="container">
    <h1>@ViewData["Title"]</h1>
    <p>
        otoge-flow^2 pop'n score tool2
    </p>
    <p>
        現在α-9版テスト中です。
    </p>

    <h2>
        概要
    </h2>
    <p>
        ポップンのスコアやメダルを管理するポップンスコアツール2。非公式ツールです。無保証/自己責任ですので理解できる方のみご利用ください。
    </p>
    <h2>
        現状仕様：
    </h2>
    <p>
        アッパー譜面しかプレイしていない場合に、非アッパー譜面としてスコア等情報が登録されてしまいますが仕様とさせてください。非アッパー譜面をプレイしてアップロードすると解消されます
    </p>
    <h2>狙い：継続性、統計、そして継続性</h2>
    <h3>継続性</h3>
    <p>
        これまでも何度もスコアツールが死んできました。

        継続性を担保するために
        スコアツールの運営や開発を移管できるような体制が必要です。

        ひとまずソースコードは<a href="https://github.com/ymonymon/otoge-flow-flow-popn-score">github</a>にあげました。
        他、様々な継続性担保のための活動をしていく予定です。
    </p>
    <h3>
        統計
    </h3>
    <p>
        昨今のゲームの攻略要素として統計を利用するのが主流になってきています。

        本サイトでは多くのプレイヤーのプレイ情報を元にクリアレートやスコアレートなどを客観的に出す事で、主観にとらわれない目的に対する難易度を把握する事が出来ます。

        統計情報はいろいろな使用方法があるので機能追加をお待ちください。
    </p>
    <h3>
        課金誘導（継続性）
    </h3>
    <p>
        ポップンミュージックはいつ終わっても不思議ではありません。
        ポップンミュージック自体の継続性を促すために実際の筐体やその周辺での課金を誘導できたらと思います。

        課金誘導は様々な手法がありますが
        実際は開発や運営の人手が必要だったりするのでなかなか一人だと難しいです。
        ぜひ運営スタッフや運営サポーターとしてゆるく関わってくれるとありがたいです。
    </p>

    <h2>
        お願い
    </h2>
    <p>
        継続性担保の目的により、サーバー費用等の負荷軽減のため、寄付のお願いや広告を付けるなどを将来的に実行するかもしれませんがご了承ください。
    </p>
    <h2>
        閉鎖したポップンスコアツール（https://popnscoretool.tokyo/new/）との関連について
    </h2>
    <p>
        閉鎖したポップンスコアツールと本サイトは無関係で運営は別です（現在の運営は熱心な閉鎖したポップンスコアツールのユーザーという関連はありますが）。
        現在メダルレート等の統計値は閉鎖したポップンスコアツールから値の使用を許可貰っていますが、登録ユーザー数が増えたら削除する予定です。
    </p>
    <h3>
        運営スタッフ
    </h3>
    <div>
        @@yardsui - 運営
    </div>
    <div>
        @@ymonymon - 開発/費用負担
    </div>
    <h3>
        運営サポーター（a-z順）
    </h3>
    <p>
        ここに表示することを許可してくれた方のお名前を追加予定。
    </p>
</div>
