@page
@model PopnScoreTool2.Pages.HistoryModel
@{
    ViewData["Title"] = "About - Wants";
}
@section Header
{
    <style type="text/css">
        p {
            text-indent: 1em;
        }
    </style>
}
<div class="container">
    <h1>@ViewData["Title"]</h1>

    <p>
        otoge-flow^2 pop'n score tool2
    </p>
    <p>
        現在α-9版テスト中です。
    </p>
    <h2>
        運営スタッフ募集
    </h2>
    <p>
        開発者、デザイナー、運営スタッフ等々。賑やかし歓迎。譜面の追加作業や機能追加に意見など。DMにてご連絡ください。
    </p>
    <h2>
        運営サポーター募集
    </h2>
    <p>
        テストや宣伝、バナーやアイコンなどイラストを描いてくれたりしてくれると嬉しいです。ツイッターアカウントのフォローだけでも～。
    </p>
</div>